.commonBlock {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(52, 103, 151);
  font-size: 30px;
}

.btns {
  width: 100%;
  height: calc(1vw + 15px);
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.btns button {
  width: 25%;
  height: 100%;
  font-size: calc(1.3vw + 3px);
}

.btns button[name = 'activeBtn'] {
  color: #E1F5FE;
  text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
  animation: neon-3 10s steps(1, start) reverse;
}

.btns button:first-child {
  width: 50%;
  background-color: blue;
}

.btns button:nth-of-type(2) {
  background-color: chartreuse;
}

.btns button:nth-of-type(3) {
  background-color: tomato;
}


.addNotes {
  position: relative;
  width: 80%;
  margin: calc(1vw + 7.5px) auto;
  font-size: calc(2vw + 5px);
}

.addNotes input {
  width: calc(20% + 15px);
  margin: calc(0.25vw + 2.5px) 0;
}

.addNotes textarea {
  width: 90%;
  height: calc(1vw + 20px);
  resize: none;
  margin-top: calc(0.5vw + 5px);
}

.addNotes button {
  margin-left: calc(82% - 7px);
  margin-bottom: 10px;
  width: calc(8% + 7px);
  height: calc(0.75vw + 15px);
  font-size: calc(0.75vw + 5px);
}

.notification {
  position: absolute;
  width: 70%;
  font-size: calc(1.25vw + 3px);
  top: 0%;
  left: 50%;
}



@keyframes neon-3 {
    0%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
  }